@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      font-family: 'Delius', cursive;
      /* background-color: #E5C8EA; */
    }
}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}
